.error {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
